@{
    ViewData["Title"] = "Sign In";
}

<style>
    .nav-link,
    .text-dark{
        display:none;
    }

    input {
        border-radius: 5px;
        background: transparent;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        background-color: #121212 !important;
        color: white !important;
    }
    input selected:focus{
        background-color: #121212 !important;
        color: white !important;

    }
    input selected{
        background-color: #121212 !important;
        color: white !important;
    }


</style>

<form style="width: 180px; margin: 0 auto !important;" method="POST" action="/Home/SignIn">
    <div style="text-align: left;">
        <br />
        <h1 style="text-align:center !important;" class="display-4">Sign In</h1>

        <br /><br />
        <div style="margin-bottom:5px;">Login</div>
        <input style="margin-bottom:15px;border: none;border-bottom: 2px solid white;" type="text" name="login" required>

        <div style="margin-bottom:5px;">Password</div>
        <input style="margin-bottom:20px;" type="password" name="password" required>

        
        <button type="submit" style="padding: 7px 25px; background-color: #0957c9; color: white; border: none; border-radius: 5px;">
            <strong>Login</strong>
        </button>


    </div>
</form>
