@{
    ViewData["Title"] = "Login";
}
<form style="margin-left:0 !important;" method="POST" action="/Home/SignIn">
<div class="text-center">
        <h1 class="display-4">Sign In</h1>

        <br />

    <div>Login</div>
    <input></input>
    <div>Password</div>
    <input></input>
        <br /><br />
    <button>Login</button>
</div>
</form>